:root {
  --primary-color: #e7852a;
  --secondary-color: #2a4a20;
}

.logo {
  max-width: 50px;
}

h1,
h2,
h3,
.logotext {
  font-family: mr-eaves-xl-modern, sans-serif;
}

.logotext {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: var(--primary-color);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.userIcon {
  font-size: 25px;
  color: var(--secondary-color);
}
