:root {
  --primary-color: #e7852a;
  --secondary-color: #2a4a20;
  --tertiary-color: #416b34;
}

.logo {
  max-width: 50px;
}

h1,
h2,
h3,
.logotext {
  font-family: mr-eaves-xl-modern, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary-color);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.logotext {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: var(--primary-color);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.userIcon {
  font-size: 25px;
  color: var(--secondary-color);
}

.venue-icon {
  padding: 5px;
}

.venue-info b {
  color: var(--secondary-color);
}

.p-center {
  text-align: center;
}

.date-picker {
  width: 100%;
  max-width: 100px;
  margin: 5px;
  box-shadow: inset 0 0 5px var(--secondary-color);
  padding: 5px;
}

#datepicker-heading {
  margin: 50px auto 0px;
}

.guests-container {
  display: flex;
  justify-content: center;
}

.guests-container input {
  margin: 5px;
  box-shadow: inset 0 0 5px var(--secondary-color);
  padding: 5px;
}

.guests-container label {
  margin: 5px;
  line-height: 25px;
}

@media (min-width: 1000px) {
  .logo {
    max-width: 150px;
  }

  .logotext {
    font-size: 5rem;
  }

  .userIcon {
    font-size: 3rem;
  }
}
